@model WebApplication2.Utils.Response.LutadorResponse
@{
    ViewBag.Title = "Campeonato";
}

<h1>Resultado</h1>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Campeão</h2>
    </div>
    <div class="panel-body">
        @Model.Nome
    </div>
</div>

